{% extends 'shared/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center mb-4">Edit Book</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Render the form fields -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Update Book</button>
            {% if user.role == 'admin' %}
                <a href="{% url 'admin_side:book_status' student.id %}" class="btn btn-secondary">Cancel</a>  <!-- Add a cancel button -->
            {% elif user.role == 'Librarian' %}
                <a href="{% url 'librarian_side:librarian_book_status' student.id %}" class="btn btn-secondary">Cancel</a>  <!-- Add a cancel button -->
            {% endif %}
        </div>
    </form>
</div>

{% endblock %}